body {
	margin: 10;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #D9D9D9;
	text-align: center;
}

.title {
	color: #FF5726;
}

.list-container {
	display: flex;
}

.ingredient-list {
	flex: 1;
}